

node_modules/

bd/

Logs/*.txt
Logs/*.log
uploads/maps/*.png
uploads/maps/*.jpg
uploads/maps/*.jpg
uploads/maps/*.jpeg
uploads/clients/*.png
uploads/clients/*.jpg
uploads/clients/*.jpg
uploads/usuarios/*.png
uploads/usuarios/*.jpg
uploads/usuarios/*.jpg