doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    //- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    
    link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
    script(src='../../../javascripts/jquery-3.3.1.js')
    script(src='../../../javascripts/popper.min.js')
    script(src='../javascripts/bootstrap.min.js')
    
    //- link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    //- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    
    //- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    //- script(src='https://code.jquery.com/jquery-3.4.1.js', integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=', crossorigin='anonymous')

    title Configuration
  body
    #lowBattery



    //- button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#AlarmTagLost') Abrir Modal
    // Modal
    #AlarmTagLost.modal.fade(role='dialog')
      .modal-dialog
        // Contenido del modal
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
          .modal-body
            p#msgTagLost Texto del modal
            li
              ul#ultest.list-group.list-group-flush

          .modal-footer
            button.btn.btn-success(type='button', data-dismiss='modal') Cerrar

    .container
      h1(style='text-align: center;') variables settings
      hr
      .card.py-4.h-100
        .card-body.text-center
                    
          
          .row
            .col-md-12
              h2 Target View  
              #wraps
                canvas#myCanvas(width='400', height='400', style='border:1px solid #2E2E2E; ')
                canvas#tip(width='100', height='25')
              // Aquí debe ir el llamado de la gráfica
          hr

    .container
      h1(style='text-align: center;') RAW DISTANCE
      hr
      
      .card.py-4.h-100
        .card-body.text-center
          
          h2(style='text-align: center;') Graph managment
        
          form.form-inline(onsubmit='return addMessage(this)')
              .form-group.mb-2
                label(for='RegionList2') Region
                select#RegionList2.form-control.mx-3
          .btn-group
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Select target
          #downbtn.dropdown-menu.dropdown-menu-left
          hr
          .row
            .col-md-6
              h2 Monitoring Distance Graph
              #hchart
              // Aquí debe ir el llamado de la gráfica
            .col-md-6
              h2 Selection  DistanceGraph
              #hchart2
              // Aquí debe ir el llamado de la gráfica
          hr
      //- .card.py-4.h-100
          
    .container
      h2(style='text-align: center;') Interaction
      .card.py-4.h-100(style='align-items: center;')
        .card-body.text-center
          button.btn.btn-primary.mb-2(type='submit', onclick="startDespliegue(this)") Start Tracking
          button.btn.btn-primary.mb-2(type='submit', onclick="startValidacion(this)") Start Validation
          button.btn.btn-primary.mb-2(type='submit', onclick="refresh(this)") refresh booklet
          button.btn.btn-primary.mb-2(type='submit', onclick="EstablecerConstants(this)") Establecer constantes
          button.btn.btn-danger.mb-2(type='submit', onclick="stoppedAll(this)") Stop Tracking
          button.btn.btn-danger.mb-2(type='submit', onclick="LogOut(this)") LogOut
    .container
      h2(style='text-align: center;') Samples recolection
      .container
        .card.py-4.h-100(style='align-items: center;')
          .card-body.text-center
            form.form-inline(onsubmit='return Send_to_particular_rpi(this)')
              .form-group.mb-2
                label(for='maclist1') MACs
                select#maclist1.form-control.mx-3
              .form-group.mb-2
                label(for='maclist2') MACs
                select#maclist2.form-control.mx-3
              .form-group.mb-2
                label(for='maclist3') MACs
                select#maclist3.form-control.mx-3
              .form-group.mx-sm-3.mb-2
                label.sr-only(for='mensaje') texto mensaje
                select#maclist4.form-control.mx-3
                  item
                input#Distancia.form-control(type='text', placeholder='Distance')
              button.btn.btn-primary.mb-2(type='submit') Send
            a#mostrar dddddddddddddddddddddd
      hr
    .container
      h2(style='text-align: center;') Calcular Constantes
      .container
        .card.py-4.h-100(style='align-items: center;')
          .card-body.text-center
            form.form-inline(onsubmit='return GetFromPagefileconfigData(this)')
              .form-group.mb-2
                label(for='List_IdZona') ID Zodna
                select#List_IdZona.form-control.mx-3
                  
              .form-group.mb-2
                label(for='List_MacTag') MACs Tag
                select#List_MacTag.form-control.mx-3
       
              .form-group.mx-sm-3.mb-2
                label.sr-only(for='mensaje') texto mensaje
                input#cantMuestras.form-control(type='text', placeholder='Distance')
              button.btn.btn-primary.mb-2(type='submit') enviar
      hr

    script(src="/socket.io/socket.io.js")
    script.
      var socket = io();
    script(src='../../../libs/popper.min.js')
    script(src='../../../javascripts/main.js')
    script(src='../../../javascripts/lineas.js')
    script(src='../../../javascripts/canvas.js')
    script(src='../../../javascripts/highcharts.js')
    script(src='../../../javascripts/exporting.js')
